@import url('https://fonts.googleapis.com/css?family=Montserrat:400, 500, 600');:root {
    --main-color: linear-gradient(90deg, rgba(255,215,39,1) 0%, rgba(252,222,86,1) 22%, rgba(255,211,20,1) 52%, rgba(254,218,64,1) 78%, rgba(255,212,20,1) 100%);
    --main-text-color-title: #00519e;
    --main-text-color: #e20a21;
    --secondary-color: linear-gradient(90deg, rgba(251,5,31,1) 0%, rgba(223,14,35,1) 50%, rgba(226,10,33,1) 100%);
    --secondary-text-color: white;
    --card-bg-color: linear-gradient(135deg, rgba(255,215,39,1) 0%, rgba(252,222,86,1) 22%, rgba(255,211,20,1) 52%, rgba(254,218,64,1) 78%, rgba(255,212,20,1) 100%);
}

.bg-primary {
    background-color: #ffd000 !important
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: #ffd000 !important
}

.bg-secondary {
    background-color: #e20a21 !important
}
a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
    background-color: #e20a21 !important
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

.separator {
    margin-top: 0;
    margin-bottom: 0;
    height: 5px;
    background: var(--secondary-color);
}

.main-section {
    color: var(--main-text-color);
    background: var(--main-color);
}

.main-section h1,
h2,
h3,
h4 {
    color: var(--main-text-color-title);
    font-weight: bolder;
}


.navigation {
    font-size: 1.2rem;
    background: var(--main-color);
    text-shadow: 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2);
    border-color: red !important;
    border-width: 3px!important;
}

.navigation h1 {
    color: var(--secondary-text-color)
}

.navbar-light .navbar-brand {
    color: var(--main-text-color-title);
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: var(--main-text-color-title);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--main-text-color-title);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-text-color);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: var(--main-text-color);
}

section {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}

header h1 {
    padding-top: 5rem;
    font-size: 7rem;
    font-weight: 900;
    line-height: 1rem;
}

header p {
    font-size: 2rem;
    font-weight: 500;
}

.card-footer {
    background: var(--secondary-color);
}

.card-footer small.text-muted {
    color: var(--secondary-text-color) !important;
}

.card {
    border-color: var(--secondary-color);
    background: var(--card-bg-color);
}

.list-group-item {
    color: var(--secondary-text-color);
    background: var(--secondary-color);
}

.block-of-text {
    padding: 1rem;
    width: 50%;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: var(--main-text-color-title);
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;

}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both; /* cleared Seite gegenüber */
}

/* Rechte Seite Text 
.timeline ul li:nth-child(even)
{
    float: right;
    text-align: left;
} */

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both; /* cleared Seite gegenüber */
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(143, 143, 143);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(143, 143, 143);
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--main-text-color-title);
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: var(--main-text-color);
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.timeline ul li:nth-child(odd) .time/* Bild für linke Seite rechts */
{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: var(--secondary-color);
    color: white;
    border-radius: 25px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time/* Bild für rechte Seite links */
{
    position: absolute;
    top: 12px;
    left: -165px; /* -165px standard */
    margin: 0;
    padding: 8px 16px;
    background: var(--secondary-color);
    color: white;
    border-radius: 25px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li h4 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.picture-right {
    position: absolute;
    top: 12px;
    left: 670px; /* -165px standard */
    margin: 0;
    padding: 8px 16px;
}
